/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { 
  padding-top: 70px;
  padding-bottom: 100px; 
}

.navbar-default {
  opacity: 0.97;
}
.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: none;
}













