/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { 
  padding-top: 70px;
  padding-bottom: 100px; 
}

.navbar-default {
  opacity: 0.97;
}
.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: none;
}

.page-header {
  margin-top: 0;
}

.panel-body {
  padding-top: 0;
}

.featuredImg {
  margin-bottom: 15px;
}

.list-group {
  padding-top: 25px;
}

p
  {
    animation:rock 2s infinite alternate;
    -webkit-animation:rock 2s infinite alternate;
  }

  @keyframes rock
  {
    0% {transform: rotate(-5deg); }
    100% {transform: rotate(5deg); }
  }
  @-webkit-keyframes rock
  {
    0% {-webkit-transform: rotate(-5deg);}
    100% {-webkit-transform: rotate(5deg);}
  }

.slide-container {
  text-align: center;
  background: linear-gradient( rgba(255,50,50,.5),rgba(50,0,50,.4)),
                url('http://lorempixel.com/800/500/city')no-repeat center center;
}

.unlock {
  display: block;
  background: -webkit-gradient(linear,left top,right top,color-stop(0, rgba(255,255,255,.5)),color-stop(0.4, rgba(255,255,255,.8)),color-stop(0.5, rgba(255,255,255,1)),color-stop(0.6, rgba(255,255,255,.5)),color-stop(1, rgba(255,255,255,.5)));
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-animation: slidetounlock 4s infinite linear;
}

@-webkit-keyframes slidetounlock {
  0% {
    background-position: -500px 0;
  }
  100%{
    background-position: 500px 0;
  }
}

.tint {
  -webkit-filter: sepia(1) hue-rotate(250deg);
  filter: sepia(1) hue-rotate(200deg);
}






